@using System.Web.Optimization
@using koala.application.common
@using mq.application.webmvc
@model  List<mq.model.dbentity.T_BG_User>
@{
    ViewBag.Title = "发送邮件";
    Layout = "~/Views/Shared/_LayuiMenu.cshtml";
}
@section head
{
    @Scripts.Render("~/libs/plupload-3.0-beta1/js/plupload")
    <style type="text/css">
        .box1 {
            background-color: #eeeeee;
            padding: 10px;
        }
        #userList tr th {
            text-align: center;
        }
    </style>
}
<div class="layui-body" style="margin: 15px 0 0 15px">
    <div class="layui-box box1">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="@(DomainUrlHelper.EmailPath)/mail/SendList">已发邮件列表</a>
            <a><cite>发送邮件</cite></a>
        </span>
    </div>
    <div class="layui-box box1" style="margin-top: 10px;">
        <div class="layui-form">
            <div class="layui-form-item modify-lable">
                <label class="layui-form-label lbls">
                    <i class="layui-icon" style="font-size: 3px; color: #ff0000;">&#xe600;</i>收件人
                </label>
                <div class="layui-input-inline" style="width: 700px;">
                    <input type="text" placeholder="请点击添加按钮添加邮箱" name="usernames" id="usernames" lay-verify="send" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" onclick="operUsers()">
                        <i class="layui-icon">&#xe608;</i> 添 加
                    </button>
                    <button type="button" class="layui-btn layui-btn-primary" onclick="clearEmail();">
                        <i class="layui-icon" style="color: red">&#x1006;</i>清 空
                    </button>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">主 题</label>
                <div class="layui-input-inline" style="width: 600px;">
                    <input type="text" id="" name="title" lay-verify="title" placeholder="请输入邮件主题" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">邮件发送</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="sendSet" lay-skin="switch">
                    <div class="layui-unselect layui-form-switch" lay-skin="_switch">
                        <em></em>
                        <i></i>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux" style="color: red">设置是否同时将将邮件发送到这些用户的登记邮箱(如QQ,新浪,outlook等邮箱)里！</div>
            </div>



            <div class="layui-form-item">
                <label class="layui-form-label">
                </label>
                <div class="layui-inline">
                    <div class="layui-input-inline" style="left: 0;width: 700px; height: 38px; line-height: 38px; font-weight: bold; cursor: pointer" id="uploader">
                        <i class="layui-icon" style="color: blue">&#xe64d;</i>上传附件
                        @*<button class="layui-btn layui-btn-mini">
                                <i class="layui-icon">&#xe654;</i>上 传
                            </button>*@
                    </div>

                    <div style="border: 1px seagreen;">
                        <div class="layui-form-mid layui-word-aux">
                            <i class="layui-icon" style="color: blue">&#xe61d;</i>
                        </div>
                        <div class="layui-form-mid layui-word-aux">

                            <label id="filename" style="display: none" name="cesjishuju">文件名</label>
                            <button id="delBtn" style="display: none" class="layui-btn layui-btn-primary layui-btn-mini " onclick="DelFile();">
                                <i class="layui-icon" style="color: red">&#xe640;</i>
                            </button>


                        </div>
                        <div class="layui-progress" lay-showpercent="true" lay-filter="progress" style="display: none; width: 333px">
                            <div id="persent" class="layui-progress-bar" lay-percent="10%"></div>
                        </div>
                            @*<div class="layui-form-mid layui-word-aux">请输入真实邮箱，用于找回密码或者接收文件
                    <button class="layui-btn layui-btn-primary layui-btn-mini">
                        <i class="layui-icon" style="color: red">&#xe640;</i>
                    </button>
                </div>*@
                        
                    </div>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">内 容</label>
                <div class="layui-input-inline" style="width: 800px; background-color: white">
                    <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_editor" style="height: 400px;"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="sendEmail">发 送</button>
                </div>
            </div>     
        </div>

    </div>
</div>
<div class="layui-box" id="userList" style="display:none;margin:0 20px 0 20px">
    <table class="layui-table" lay-skin="line row" lay-even>
        <colgroup>
            <col width="7%">
            <col width="10%">
            <col width="13%">
        </colgroup>
        <thead style="border-bottom: 2px solid #393D49">
            <tr style="background-color: #d2f2d2">
                <th>用户代码</th>
                <th>用户名</th>
                <th>邮 箱</th>
            </tr>
        </thead>
        <tbody style="text-align: center">
            @if (Model != null && Model.Count > 0)
            {
                foreach (var user in Model)
                {
                    <tr data-name="@user.Name">
                        <td>@user.ID</td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<input type="hidden" id="fileurl" value="" />
<input type="hidden" id="fileorgname" value="" />
<input type="hidden" id="fileext" value="" />
<script type="text/javascript">
    var element;
    layui.use(['form', 'layer', 'layedit', 'element'], function () {
        var form = layui.form(), layer = layui.layer;
        var layedit = layui.layedit;
        element = layui.element();

        //构建一个默认的编辑器
        var editIndex = layedit.build('LAY_editor', {
            tool: ['strong', 'italic', 'underline', 'del', '|', 'left', 'center', 'right', 'link', 'unlink', 'face']
        });

        //自定义验证规则
        form.verify({
            send: function (value) {
                if (value == undefined || value == '' || value.length == 0) {
                    return '收件人不能为空！';
                }
            },
            title: function (value) {
                
            },
            content: function (value) {
                layedit.sync(editIndex);
            }
        });

        //监听提交
        form.on('submit(sendEmail)', function (data) {

            var url = "@(DomainUrlHelper.EmailPath)/Mail/SendEmail";
            var pars = data.field;
            pars.title = encodeURIComponent(pars.title);
            pars.content = encodeURIComponent(pars.content);

            pars.fileurl = encodeURIComponent($('#fileurl').val());
            pars.fileorgname = encodeURIComponent($('#fileorgname').val());
            pars.fileext = $('#fileext').val();

            if (pars.title == '' && pars.content == '') {
                layui.layer.alert('邮件标题和内容不能同时为空！', {
                    icon: 2,
                    skin: 'layer-ext-moon'
                }, function () {
                    layer.closeAll();
                    return; 
                });
            } else if (pars.title=='') {
                layer.confirm('邮件未填写标题，确认发送邮件吗？', {
                    btn: ['确定', '取消'] //可以无限个按钮
                }, function (index, layero) {
                    SendEmail(url, pars);
                }, function (index) {
                    return;
                });
            } else if (pars.title!=''&&pars.content == '') {
                layer.confirm('邮件未填写内容，确认发送邮件吗？', {
                    btn: ['确定', '取消'] //可以无限个按钮
                }, function (index, layero) {
                    SendEmail(url, pars);
                }, function (index) {
                    return;
                });
            } else {
                SendEmail(url, pars);
            }
        });

        //上传初始化
        uploader.init();

        //弹窗用户点击
        $('#userList tr').click(function () {
            var username = $(this).attr('data-name');
            var txt = $('#usernames').val();

            if (txt == undefined || txt == "") {
                $('#usernames').val(username);
                $(this).css('background-color', '#c2c2c2');
            }
            else if ($.inArray(username, txt.split(';')) >= 0) {

                layui.layer.alert('该用户账号已经在发送邮件人中', {
                    icon: 2,
                    skin: 'layer-ext-moon'
                });
            } else {
                $('#usernames').val(txt + ';' + username);
                $(this).css('background-color', '#c2c2c2');
            }
        });

    });

   // 发送邮件
    function SendEmail(url, pars) {
        $.post(url, pars, function (datas) {
            if (datas.ErrorCode == "E000") {
                layer.msg("发送成功", {
                    icon: 1,
                    time: 3000
                }, function () {
                    location.href = '@DomainUrlHelper.EmailPath/Mail/SendList';
                    layer.closeAll();
                });
            } else {
                layer.alert(datas.ErrorMessage, {
                    icon: 2, //第三方扩展皮肤0=！；1=对勾；2=X;3=?;4=锁；5=哭脸；6=笑脸；
                    skin: 'layer-ext-moon'
                }, function () {
                    layer.closeAll();
                });
            }
           
        });
    }

    //清空邮箱
    function clearEmail() {
        $('#userList tr').css('background-color','');
        $('#usernames').val('');
    }

    //添加用户邮箱
    function operUsers() {
        layui.layer.open({
            type: 1,
            title: '添加邮件',
            area: ['800px', 'auto'],
            skin: 'layui-layer-lan',
            btnAlign: 'c',
            //fixed: false, //不固定
            //scrollbar: false,
            btn: ['确定']
            , yes: function (index, layero) {
                layer.close(index);
            },
            content: $('#userList')
        });
    }

    //删除文件
    function DelFile() {
        var path = encodeURIComponent($('#fileurl').val());
        $.post('@(DomainUrlHelper.UploadPath)/EmailUppload/DelEmailFile?filePath=' + encodeURIComponent(path), function (data) {
            if (data.ErrorCode == "E0000") {
                $('#uploader').css('left', '0');
                layui.layer.msg('删除成功！');
            } else {
                layui.layer.alert(data.ErrorMessage, {
                    icon: 2,
                    skin: 'layer-ext-moon'
                });
            }
        });
        
    }

    var uploader = new plupload.Uploader({
        browse_button: 'uploader',
        url: '@(DomainUrlHelper.UploadPath)/EmailUppload/SendFile?key=@(LoginHelper.UserId)',
        max_file_size: '5mb',
        multi_selection: false,
        flash_swf_url: '@(DomainUrlHelper.SourchPath)/libs/plupload-3.0-beta1/js/Moxie.swf', // Flash settings
        silverlight_xap_url: '@(DomainUrlHelper.SourchPath)/libs/plupload-3.0-beta1/js/Moxie.xap', // Silverlight settings
        init: {
            FilesAdded: function () {
                uploader.start();
                $('#persent').parent().show();
            },
            UploadProgress: function (up, file) {
                element.progress('progress', file.percent + '%');
            },
            FileUploaded: function (up, file, result) {
                $('#persent').parent().hide();

                var jsonData = eval("(" + result.response + ")");

                if (jsonData.ErrorCode == "00000") {

                    $('#filename').text(jsonData.Attach).show();
                    $('#delBtn').show();
                    $('#uploader').css('left', '-99999px');

                    layer.msg('上传成功', { icon: 1, time: 2000 }, function () {
                    });

                    $('#fileorgname').val(jsonData.Attach);
                    $('#fileurl').val(jsonData.FilePath);
                    $('#fileext').val(jsonData.FileType);

                } else {
                    layer.msg('同上', {
                        icon: 2,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function () {
                        //do something
                    });
                }
            },
            UploadComplete: function (up, files) {
            },
            Error: function (up, err) {
                alert(err);
            }
        }
    });
</script>
