@using System.Web.Optimization
@using mq.application.common
@model List<mq.model.extendedentity.employeebg.ActiveFileDepartmentExtend>

@{
    ViewBag.Title = "ActiveFileList";
    Layout = "~/Views/Share/_Menu.cshtml";
}
@section head
{
    @Scripts.Render("~/libs/bootstrap3.3.7/js/bootstrap")
    @Styles.Render("~/libs/bootstrap3.3.7/css/bootstrap")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file:// 引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .breadcrumb > li + li:before {
            padding: 0 5px;
            color: #ccc;
            content: " > ";
        }

        .container {
            width: 90%;
            margin-top: 10px;
            margin-left: 200px;
            -moz-min-width: 30%;
            -ms-min-width: 30%;
            -o-min-width: 30%;
            -webkit-min-width: 30%;
            min-width: 30%;
        }

        .row {
            margin-bottom: 10px;
        }

        .btn {
            width: 249px;
            height: 30px;
            margin-left: 200px;
        }

        .table tr th, td {
            text-align: center;
            vertical-align: middle;
        }

        .col-md-12 div a { 
            color: white
        }
    </style>
}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li class="active">常用文件</li>
            </ul>
            <p class="text-center lead text-info">
                <strong>公司规章制度、技术指导、常用文件等</strong>
            </p>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div type="button" class="btn btn-default btn-info @(ViewBag.typ != 1 ? "hrf" : "disabled")">发布</div>
                    <button type="button" class="btn btn-default btn-info @(ViewBag.typ != 2 ? "hrf" : "disabled")">办公室</button>
                    <button type="button" class="btn btn-default btn-info @(ViewBag.typ != 3 ? "hrf" : "disabled")">店铺</button>
                </div>
            </div>
            <table class="table table-hover table-condensed table-bordered">
                <thead>
                <tr>
                    <th style="width: 6%">部门</th>
                    <th style="width: 8%">发布时间</th>
                    <th style="width: 6%">性质</th>
                    <th style="width: 26%">文件</th>
                    <th style="width: 26%">备注</th>
                </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        long deparmenId = -1;
                        foreach (var file in Model)
                        {
                            <tr>
                                @if (deparmenId != file.DeparementId)
                                {
                                    deparmenId = file.DeparementId.ToLong(-2);
                                    <td rowspan="@(file.Count)" style="vertical-align:middle;">@file.DepartmentName</td>
                                }
                                <td>@file.PublicTime.ToDateTime(DateTime.MaxValue).ToString("yyyy/MM/dd hh:mm:ss") </td>
                                <td>@(file.NatureType== 2 ? "规章制度": file.NatureType == 1 ? "技术指导" : "常用文件")</td>
                                <td>
                                    <a href="@(Url.Action("DownloadFilePathResult", "PublicMsg", new {filepath = file.FilePath, fileorgname = HttpUtility.UrlEncode(file.FileOriginName), fileytpe = file.FileType}))">
                                            @(file.FileOriginName)
                                        </a>
                                </td>
                                <td>@(file.Remark)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.col-md-12 .hrf').click(function () {
            var txt = $(this).text();
            switch (txt) {
                case '发布':
                    window.location.href = "@Url.Action("ActiveFileList",new {typ=1})";
                    break;
                case '办公室':
                    window.location.href = "@Url.Action("ActiveFileList",new {typ=2})";
                    break;
                case '店铺':
                    window.location.href = "@Url.Action("ActiveFileList",new {typ=3})";
                    break;
                default:
                    window.location.href = "@Url.Action("ActiveFileList",new {typ=1})";
                    break;
            }
        });
    });
</script>