@using System.Web.Optimization
@using koala.application.common
@using mq.application.common
@using mq.application.webmvc
@{
    ViewBag.Title = "上传公共信件";
    Layout = "~/Views/Share/_Layout.cshtml";
}

@section head
{
    @Styles.Render("~/libs/datetimepicker/jquery.datetimepickercss", "~/css/buttonsCSS", "~/css/UploadMessageCss", "~/libs/uploadify/uploadify")
    @Scripts.Render("~/libs/datetimepicker/jquery.datetimepickercjs", "~/libs/ueditor/ueditor.config", "~/libs/ueditor/ueditor.all", "~/libs/uploadify/jquery.uploadify", "~/libs/layer/layer")
}
<div class="upload">
    <div class="title">
        主题：<input type="text" class="nameText item" value="请输入公共信件的标题" />
    </div>

    <div class="title1">
        <div class="lvl">
            发布级别：
            <select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="gettime">
            发布时间:<input type="text" id="datetimepicker" value="发布时间" />
        </div>
    </div>

    <div class="demotxt">
        邮件内容：
        <script id="editor" type="text/plain" style="width: 1024px; height: 500px;">
        </script>
    </div>

    <div class="upfile">
        <div class="clickArea">
            <a href="javascript:void(0);" class="file_upload" style="padding-left: 0px; width: 230px;">
                <input type="file" name="file_upload" id="file_upload" />
            </a>
        </div>
    </div>

    <div class="upfile" id="fileShow" style="display: none;" data-orginname='' data-newname='' data-filepath>
        <div class="upload-box upfilebox">
            <span class="num bgGrey">文件名：</span>
            <div class="box2">
                <p class="name left" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">xxxxxxxxxxxxx</p>

                <div class="left uploading" id="pct">
                    <div class="left">
                        <span class="span1" style="width: 0%" id="pct1"></span>
                    </div>
                    <i class="left i1" style="font-style: normal" id="pct2">0%</i>
                    <i class="left i1" style="font-style: normal; margin-left: 10px;" id="pct3">正在上传</i>
                </div>
                <a style="display: none" href="javascript:void(0)" onclick="delOriginal();" class="sc">删除</a>
            </div>
        </div>
    </div>

    <div class="btn">
        <a class="button button-primary button-small" style="background-color: #F6922A; border-color: #F6922A;" onclick="save();">
            确定
        </a>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.upload .title .nameText').focus(function () {
            var txt = $(this).val();
            if (txt != undefined && txt == '请输入公共信件的标题') {
                $(this).val('').css('color', 'black');
            }
        });

        $('.upload .title .nameText').blur(function () {
            var txt = $(this).val();
            if (txt == undefined || txt == '' || $.trim(txt) == '') {
                $(this).val('请输入公共信件的标题').css('color', '#BEBEBE');
            }
        });

        $('#datetimepicker').focus(function () {
            var txt = $(this).val();
            if (txt != undefined && txt == '发布时间') {
                $(this).val('').css('color', 'black');
            }
        });
        $('#datetimepicker').blur(function () {
            var txt = $(this).val();
            if (txt == undefined || txt == '' || $.trim(txt) == '') {
                $(this).val('发布时间').css('color', '#BEBEBE');
            }
        });

        //uploadify
        $("#file_upload").uploadify({
            'buttonClass': 'uploadbutton',
            'width': 232,
            'height': 45,
            'queueSizeLimit': 1,
            'fileSizeLimit': '10MB',
            'multi': 'false',
            'queueID': 'cnki_file_queue',
            'buttonText': '选择要上传的文件',
            'fileTypeExts': '*.doc;*.docx;*.pdf',
            'formData': { 'ASPSESSID': '@(Session.SessionID)', 'AUTHID': '@(HttpContext.Current.Request.Cookies[FormsAuthentication.FormsCookieName] == null ? string.Empty : HttpContext.Current.Request.Cookies[FormsAuthentication.FormsCookieName].Value)' },
            'swf': '@(DomainUrlHelper.SourchPath)/libs/uploadify/uploadify.swf',
            'uploader': '@(DomainUrlHelper.UploadPath)/Files/Post?key=@(LoginHelper.UserId)&type=PublicFile',
            'onUploadSuccess': function (file, data, response) {
                $('#pct').hide();
                if (response == true) {
                    var json = eval('(' + data + ')');
                    if (json.ErrorCode != undefined && json.ErrorCode == '00000') {

                        $('#fileShow a').show();
                        $('#fileShow .name').text(json.Attach);
                        $('#fileShow').attr('data-orginname', json.Attach);
                        $('#fileShow').attr('data-newname', json.ErrorMessage);
                        $('#fileShow').attr('data-filepath', json.FilePath);
                        $('#fileShow').attr('data-filetype', json.FileType);
                        $('.upfile .clickArea').hide();
                    }
                } else {
                    $('#fileShow .name').text('服务端异常！');
                    $('#fileShow a').hide();
                }
            },
            'onUploadError': function (file, errorCode, errorMsg, errorString) {
                $('#fileShow .name').text(file.name);
                $('#fileShow a').hide();
            },
            'onUploadProgress': function (file, bytesUploaded, bytesTotal, totalBytesUploaded, totalBytesTotal) {
                var progress = (bytesUploaded * 100 / bytesTotal).toFixed(0) + "%";

                $('#pct1').css('width', progress);
                $('#pct2').text(progress);
            },
            'onSelect': function (file) {
                $('#fileShow').show();
                $('#pct').show();
                $('#pct1').css('width', '0%');
                $('#pct2').text('0%');
                $('#fileShow p').text(file.name);
                $('#fileShow a').hide();
            },
            'onSelectError': function (file, errorCode, errorMsg) {

            },
            'onDialogOpen': function () {
            }
        });

        ue.ready(function() {
            GetPublishFile();
        });
    });

    //获取初始化数据
    function GetPublishFile() {
        if (@(ViewBag.Id)<=0) {
            return;
        }
        var url = '@(DomainUrlHelper.EmployeeBgPath)/api/PublicMessageApi/GetPublishFile?Id=@(ViewBag.Id)';
        $.post(url, {}, function(data) {
            if (data.ErrorCode == 'E0000') {
                if (data.PublishFile == null) {
                    //第三方扩展皮肤0=！；1=对勾；2=X;3=?;4=锁；5=哭脸；6=笑脸；
                    layer.alert('未发现数据', {
                        icon: 2,
                        skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                    });
                } else {
                    $('.title .nameText').val(data.PublishFile.Title);
                    $('.lvl select').val(data.PublishFile.Lvl);
                    $('#datetimepicker').val(data.PublishFile.PublishTime);
                    ue.setContent(data.PublishFile.HtmlContent);

                    $('#fileShow').show();
                    $('#pct').hide();
                    $('.upfile .clickArea').hide();
                    $('#fileShow .name').text(data.PublishFile.FileOriginName);
                    $('#fileShow a').show();
                    $('#fileShow').attr('data-orginname', data.PublishFile.FileOriginName);
                    $('#fileShow').attr('data-newname', data.PublishFile.FileNewName);
                    $('#fileShow').attr('data-filepath', data.PublishFile.FilePath);
                    $('#fileShow').attr('data-filetype', data.PublishFile.FileType);
                }
            } else {
                layer.msg(json.ErrorMessage);
            }
        });
    }

    //时间慢慢插件
    var dateNow = new Date();
    $('#datetimepicker').datetimepicker({
        lang: 'ch',
        dayOfWeekStart: 1,
        minDate: dateNow
    });

    //ueditor
    var ue = UE.getEditor('editor', {
        toolbars: [
            [
                'fullscreen', 'source', '|', 'undo', 'redo', '|', 'bold', 'italic', 'underline', 'removeformat', 'formatmatch', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
                'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
                'directionalityltr', 'directionalityrtl', 'indent', '|',
                'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
                'link', '|', 'emotion', 'scrawl', '|',
                'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts'
            ]
        ],
        initialContent: '',
        initialFrameWidth: 889, //初始化编辑器宽度,默认1000
        initialFrameHeight: 509, //初始化编辑器高度,默认320
        scaleEnabled: false,
        minFrameWidth: 400, //编辑器拖动时最小宽度,默认800
        minFrameHeight: 220, //编辑器拖动时最小高度,默认220
        enableAutoSave: false,
        //wordCount
        wordCount: true, //是否开启字数统计
        maximumWords: 10000, //允许的最大字符数
        //字数统计提示，{#count}代表当前字数，{#leave}代表还可以输入多少字符数,留空支持多语言自动切换，否则按此配置显示
        //,wordCountMsg:''   //当前已输入 {#count} 个字符，您还可以输入{#leave} 个字符
        //超出字数限制提示  留空支持多语言自动切换，否则按此配置显示
        wordOverFlowMsg: '' //<span style="color:red;">你输入的字符个数已经超出最大允许值，服务器可能会拒绝保存！</span>
    });

    function save() {
        var title = $('.title .nameText').val();
        var lvl = $('.lvl select').val();
        var publictime = $('#datetimepicker').val();
        var htmlContent = ue.getContent();
        var textContent = ue.getContentTxt();
        var fileNewName = $('#fileShow').attr('data-newname');
        var fileOriginName = $('#fileShow').attr('data-orginname');
        var filePath = $('#fileShow').attr('data-filepath');
        var filetype = $('#fileShow').attr('data-filetype');

        if (title == undefined || title == '' || title == '请输入公共信件的标题') {
            layer.msg('请输入邮件标题！');
            return;
        }

        if (publictime == undefined || publictime == '' || publictime == '发布时间') {
            layer.msg('请输入发布时间！');
            return;
        }

        if (htmlContent == undefined || htmlContent == '') {
            layer.msg('请输入邮件内容！');
            return;
        }

        title = escape(title);
        htmlContent = escape(htmlContent);
        textContent = escape(textContent);
        fileOriginName = escape(fileOriginName);
        filePath = encodeURIComponent(filePath);

        var url;
        if (@(ViewBag.Id)<=0) {
            url = "@(DomainUrlHelper.EmployeeBgPath)/PublicMessage/AddFileMessage";
        } else {
            url = "@(DomainUrlHelper.EmployeeBgPath)/PublicMessage/UpdateFileMessage?id=@(ViewBag.Id)";
        }

        var datas = { title: title, 'lvl': lvl, 'publictime': publictime, 'htmlContent': htmlContent, 'textContent': textContent, 'fileOriginName': fileOriginName, 'fileNewName': fileNewName, 'filePath': filePath,'filetype':filetype,'id':'@(ViewBag.Id)' }
        var layerId = -1;
        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(datas),
            dataType: "json",
            beforeSend: function () {
                layerId = layer.load(1, { shade: [0.5, '#fff'] });
            },
            success: function (data) {
                layer.close(layerId);
                var jsn = eval('(' + data + ')');
                if (jsn.ErrorCode == 'E0001') {
                    layer.msg("修改成功！");
                    setTimeout(function() {
                        window.location.reload();
                    }, 500);
                } else {
                    //第三方扩展皮肤0=！；1=对勾；2=X;3=?;4=锁；5=哭脸；6=笑脸；
                    layer.alert(jsn.ErrorMessage, {
                        icon: 4,
                        skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                    });
                }

            },
            complete: function () {
                layer.close(layerId);
            },
            error: function (a, b, c) {

            }
        });
    }

    function delOriginal() {
        $('#fileShow').hide();
        $('#fileShow a').show();
        $('#pct').hide();
        $('.upfile .clickArea').show();

        $('#fileShow').attr('data-orginname', '');
        $('#fileShow').attr('data-newname', '');
        $('#fileShow').attr('data-filepath', '');
        $('#fileShow').attr('data-filetype', '');
    }
</script>